<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/awesome.coolaj.example"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="4"/>
</listAttribute>
<mapAttribute key="org.eclipse.debug.core.environmentVariables">
<mapEntry key="DEBUG_ON" value="1"/>
</mapAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="org.aspectj.tools.ajc.Main"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="-1.5 -outjar woven.jar&#13;&#10;src/base/Stack.java src/base/BoundedStack.java src/aspects/aspectj/LogAllToFile.aj src/aspects/cool/BoundedStackCoord.java"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="awesome.coolaj.example"/>
</launchConfiguration>
