<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.newWizards">
      <category
            name="Awesome"
            id="awesome.ide">
      </category>
      <wizard
            name="Multi-Mechanism Project"
            icon="icons/mm.png"
            category="awesome.ide"
            class="awesome.ide.wizards.MultiMechanismProjectWizard"
            id="awesome.ide.wizards.NewAwesomeProjectWizard">
      </wizard>
      <wizard
            category="awesome.ide"
            class="awesome.ide.wizards.AspectMechanismProjectWizard"
            icon="icons/am.png"
            id="awesome.ide.wizards.AspectMechanismProjectWizard"
            name="Aspect Mechanism Project">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            id="awesome.ide.objectContribution"
            nameFilter="awmm.*"
            objectClass="org.eclipse.core.resources.IProject">
         <menu
               id="awesome.ide.menu.awesome"
               label="Awesome"
               path="additions">
            <separator
                  name="group1">
            </separator>
         </menu>
         <action
               class="awesome.ide.actions.GenerateFromSpecificationAction"
               enablesFor="1"
               id="awesome.ide.action.generate"
               label="Generate from Specification"
               menubarPath="awesome.ide.menu.awesome/group1">
         </action>
      </objectContribution>
   </extension>

</plugin>
