<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.newWizards">
      <category
            name="Awesome"
            id="awesome.ide">
      </category>
      <wizard
            name="Awesome Project"
            icon="icons/aw2.jpg"
            category="awesome.ide"
            class="awesome.ide.wizards.NewAwesomeProjectWizard"
            id="awesome.ide.wizards.NewAwesomeProjectWizard">
      </wizard>
   </extension>

</plugin>
