<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/aw.coolajval.example"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="4"/>
</listAttribute>
<mapAttribute key="org.eclipse.debug.core.environmentVariables">
<mapEntry key="ENABLE_WEAVING_TRACE" value="0"/>
</mapAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="org.aspectj.tools.ajc.Main"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="-1.5 -outjar stack.jar &#13;&#10;src/base/Stack.java src/base/BoundedStack.java src/aspects/aspectj/LogAllToFile.aj src/aspects/cool/BoundedStackCoord.java src/aspects/validator/StackValidator.java"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="aw.coolajval.example"/>
</launchConfiguration>
